.card-environment {
	float: left;
	width: 60%;
}

.instruction {
	float: left;
	width: 40%;
	padding-right: 2em;
}

.main {
	margin-bottom: 3em;
	margin-top: 3em;
}

.clear {
	clear: left;
}

.life-bar {
	border-radius: 3px;
	background-color: green;
	height: 10px;
	width: 200px;
}