.card-environment {
	float: left;
	width: 60%;
}

.instruction {
	float: left;
	width: 40%;
	padding-right: 2em;
}

.main {
	margin-bottom: 3em;
	margin-top: 3em;
}

.clear {
	clear: left;
}

.life-bar {
	border-radius: 3px;
	width: 10px;
}

.card-picker-container {
	height: 128px;
}

.winnerWinnerChickenDinner {
	color: gold;
}

button.button.black, button.button.red {
	height: inherit;
	width: inherit;
}

.card-in-hand {
	height: 250px;
	width: 150px;
}